 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Welcome to my site. I'm Lucas REMOND and here is my blog where I post my recipes. I hope you are going to like it and don't hesitate to contact me if you have any reports or questions about my page ! Thank you</p>
                </div>
                <div class="col-lg-4">
                    <p>I have work a lot in different restaurants in my life, you should definetly go and see my CV at the top of my site ! </p>
                </div>
            </div>
        </div>
    </section>
