 <!-- album -->
 <Album>
    <section class="success" id="Album">
     <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Album</h2>
                <hr class="star-light">
            </div>
        </div>
         </div class= "row">
            <div class="col-lg-2 col-lg-offset-0.25">
                <img class="img-responsive" src="/img/A1.jpg" alt="">
            </div>
             <div class="col-lg-2 col-lg-offset-0.25">
                <img class="img-responsive" src="/img/A3.jpg" alt="">
            </div>
            <div class="col-lg-2 col-lg-offset-0.25">
                <img class="img-responsive" src="/img/A4.jpg" alt="">
            </div>
            <div class="col-lg-2 col-lg-offset-0.25">
                <img class="img-responsive" src="/img/A5.jpg" alt="">
             </div>
             <div class="col-lg-2 col-lg-offset-0.25">
                <img class="img-responsive" src="/img/A6.jpg" alt="">
            </div>
            <div class="col-lg-2 col-lg-offset-0.25">
                <img class="img-responsive" src="/img/A7.jpg" alt="">
            </div>
            <div class="col-lg-2 col-lg-offset-0.25">
                <img class="img-responsive" src="/img/A8.jpg" alt="">
             </div>
             <div class="col-lg-2 col-lg-offset-0.25">
                <img class="img-responsive" src="/img/A9.jpg" alt="">
            </div>
            <div class="col-lg-2 col-lg-offset-0.25">
                <img class="img-responsive" src="/img/A10.jpg" alt="">
            </div>
            <div class="col-lg-2 col-lg-offset-0.25">
                <img class="img-responsive" src="/img/A11.jpg" alt="">
             </div>
        </div>
    </div>
</section>
</Album>